<div class="container mt-12">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
    <h2 class="font-bold text-3xl mx-auto">Espace <%= current_user.username %></h2>
      <!-- basic info/!-->
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-inputs">

          <%= f.text_field :username,
                      autofocus: true,
                      required: true,
                      hide_label: true,
                      placeholder: "Nom Complet:"
                       %>
          <%= f.phone_field :contact,
                      hide_label: true,
                      placeholder: "N° téléphone:",
                      required: true,
                      maxlenght: "8" %>

          <%= f.text_field :matricule,
                    hide_label: true,
                    placeholder: "N° matricule national:",
                    required: true,
                    help: "Votre matricule National." %>
          <%= f.email_field :email,
                      required: true,
                      hide_label: true,
                      placeholder: "Adresse e-mail:",
                      input_html: { autocomplete: "email" },
                      help: "Pas d'e-mail: utlise ton N° Matricule et ajoute @gmail.com a la fin." %>
        </div>


          <!-- Mot de passe/!-->
          <%= f.password_field :password,
                              required: true,
                      hide_label: true,
                      placeholder: " Entrez Nouveau mot de passe:",
                      input_html: { autocomplete: "new-password" },
                      help: "le mot de passe doit 6 lettres au moins." %>

          <%= f.password_field :password,
                      required: true,
                      hide_label: true,
                      placeholder: " Entrez le mot de passe Actuel.",
                      help: "le mot de passe doit 6 lettres au moins." %>
          <%= f.password_field :password_confirmation,
                      required: true,
                      hide_label: true,
                      placeholder:  'retaper le mot de passe actuel:',
                      input_html: { autocomplete: "new-password" },
                      help: "confirmez votre mot de passe." %>

      <div class="form-actions">
        <%= f.submit "Enregistrer", class: 'btn btn-success font-bold'%>
      </div>
   <% end %>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <p>Supprimer mon Compte</p>
      <p><%= link_to "Supprimer Mon Compte", registration_path(resource_name), data: { confirm: "Vous allez supprimé votre compte?" }, method: :delete, class: "btn btn-dark" %></p>
    </div>
  </div>
</div>
