<!-- Direct Message/!-->
<div class="card my-2">
  <!-- Student Data/!-->
  <div class="card m-2 text-center">
    <div class="flex my-2 ml-2">
      <div class="mr-2">
        <img class="w-10 h-10 bg-gray-400 rounded-full">
      </div>
      <div class="text-sm">
      <!-- Username/!-->
        <p class="text-gray-900 leading-none capitalize font-bold">
          <%= comment.user.username %>
        </p>
        <p class="text-gray-600">
          <!--athor of cours</!-->
          <% if teach_content(current_user) %>
             Prof de <%= @course.matiere.title %> au <%= @course.user.school %> - <%= @course.user.city %>
          <% else %>
              <!-- student/!-->
              Eleve au  <%= comment.user.school %> - <%= comment.user.city %>
          <% end %>
        </p>
      </div>
    </div>
    <!-- DirectMessage /!-->

    <!-- Prof Message/!-->
    <% if teach_role(current_user)%>
      <div class="bg-blue-200">
        <%= comment.content %>
      </div>
    <% else %>
    <!-- student/!-->
      <div class="bg-gray-200">
        <%= comment.content %>
      </div>
    <% end %>
  </div>
</div>
