<% content_for @title= "100% au BAC 2020" %>

<div class="row">
  <div class="col-7">
    <p class="font-bold text-3xl">
      9 Professeurs a domiciles, pour vous faciliter l'année scolaire.
    </p>
  </div>
  <div class="col-4">
      <h2 class="font-bold text-4xl text-center">Inscription</h2>
      <p class="text-center mb-2">C’est rapide et facile.</p>


    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="form-inputs">

          <%= f.text_field :username,
                      required: true,
                      hide_label: true,
                      placeholder: "Nom Complet:"
                       %>
          <%= f.phone_field :contact,
                      hide_label: true,
                      placeholder: "N° téléphone:",
                      required: true,
                      help: "Nous utiliserons votre numéro de téléphone pour protéger votre compte",
                      maxlenght: "8" %>

          <%= f.text_field :matricule,
                    hide_label: true,
                    placeholder: "N° matricule national:",
                    required: true,
                    help: "Votre matricule National." %>
          <%= f.email_field :email,
                      required: true,
                      hide_label: true,
                      placeholder: "Adresse e-mail:",
                      input_html: { autocomplete: "email" },
                      help: "Vous pouvez utlisé votre N° Matricule et ajouté @gmail.com à la fin." %>

          <%= f.password_field :password,
                      required: true,
                      hide_label: true,
                      placeholder: " Entrez votre mot de passe:",
                      input_html: { autocomplete: "new-password" },
                      help: "le mot de passe doit 6 lettres au moins." %>

          <%= f.password_field :password_confirmation,
                      required: true,
                      hide_label: true,
                      placeholder:  'retaper le mot de passe:',
                      input_html: { autocomplete: "new-password" },
                      help: "confirmez votre mot de passe." %>

          <%= f.hidden_field :role, value: "X12" %>
        <div class="form-actions">
          <%= f.submit "Inscription", class: 'btn btn-success font-bold'%>
        </div>
      <% end %>
  </div>
</div>
