
  <%= bootstrap_form_for(@recrutement, label_errors: true, inline_errors: true) do |f| %>
    <%= f.error_summary %>

    <div class="form-inputs">
      <%= f.text_field :title, label: 'Titre:', placeholder:"Job Title" %>
      <%= f.text_area :content, label: 'Description du Poste:', id: 'recrutement'  %>
      <%= f.text_field :manager_mail, label: 'City Manager:', placeholder:"city manager email" %>
    </div>

    <div class="row">
      <div class="col-5  col-md-2 col-lg-2">
          <div class="input-form">
            <span class="select">
              <%= f.select :matiere,
                   Recrutement::MATIERES,
                   hide_label: true,
                   prompt: "La matière:" %>

            </span>
          </div>
        </div>

          <div class="col-5  col-md-2 col-lg-2">
          <div class="input-form">
            <span class="select">
              <%= f.select :city,
                   Recrutement::CITY,
                   hide_label: true,
                   prompt: "La ville:" %>

            </span>
          </div>
        </div>
         <div class="col-5  col-md-2 col-lg-2">
          <div class="input-form">
            <span class="select">
              <%= f.select :status,
                   Recrutement::STATUS,
                   hide_label: true,
                   prompt:"Status:" %>

            </span>
          </div>
        </div>
        <div class="col-5 col-md-2 col-lg-2">
          <div class="input-form">
            <span class="select">
              <%= f.select :role,
                   Recrutement::ROLE,
                   hide_label: true,
                   prompt: "role:" %>
            </span>
          </div>
        </div>

        <div class="col-5 col-md-2 col-lg-2">
          <div class="input-form">
            <span class="select">
              <%= f.select :count_job,
                   Recrutement::COUNT_JOB,
                   hide_label: true,
                   prompt: "Postes:" %>
            </span>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit "Créer Un Job",  class: "btn btn-primary" %>
      </div>
    <% end %>
