

<%= bootstrap_form_for(@book) do |f| %>
  <div class="form-inputs">
      <%= f.text_field :title,
                         label: 'Titre du livre:',
                         placeholder:"Ex: Simple, Apprendre assez en Math pour devenir un Héro" %>
      <%= f.text_area :content, label: 'Contenu du livre:', id: 'DirectBook'  %>
      <%= f.text_area :describre, label: 'Description du livre:',
                       placeholder:"I was sitting cross-legged on the double bed in my hotel room, my laptop in front of me, staring at 3D models of the product I was going to produce with my friend." %>
      <%= f.text_field :author %>
      <%= f.text_field :cover %>
      <%= f.text_field :author %>
      <%= f.text_field :category %>
      <%= f.text_field :price %>
      <%= f.text_field :status %>

      <div class="form-actions">
        <%= f.submit "Créer votre livre", class: "btn btn-primary" %>
      </div>
    </div>
<% end %>
