
<div class="m-4">

  <%= bootstrap_form_for([@recrutement, @recrutement.job_posts.build], remote: true) do |f| %>

    <div class="form-inputs ">
      <%= f.text_field :nom_complet,
      label: "Nom complet",
      placeholder: "Ex: Kam kara" %>
      <%= f.text_field :contact,
      label: "Contact", placeholder: "Ex: 44320020" %>

      <%= f.text_field :contact_whatsapp,
      label: 'Contact WhatsApp',
      placeholder: "Numéro WhatsApp" %>

      <%= f.text_field :school,
      label:"Votre Etablissement principal",
       placeholder: "Etablissement", help: "école dans laquelle vous avez assez de classe" %>

      <hr>
      <div>
      <br>
      <p class="font-bold">Nombre de classe Enseigné</p>
      <%= f.radio_button :nb_classe,  0, label: "1 classe", inline: true %>
      <%= f.radio_button :nb_classe,  1, label: "+2 classes", inline: true %>
      <%= f.radio_button :nb_classe,  2, label: " 4 classes et +", inline: true %>
      <small>Tous les niveaux (6e-Tle)</small>
      </div>

      <hr>
      <div class="custom-control">
      <br>
      <p class="font-bold">Année dans l'enseignement: </p>
      <%= f.radio_button :experience, 0, label: "1 ans", inline: true %>
      <%= f.radio_button :experience, 1, label: "+2 ans", inline: true %>
      <%= f.radio_button :experience, 2, label: "4 ans et +", inline: true %>
      </div>

      <hr>
      <div class="custom-control">
      <br>
      <p class="font-bold">Niveaux Enseigné: </p>
      <%= f.radio_button :promotion, 0, label: "1er Cycle", inline: true %>
      <%= f.radio_button :promotion, 1, label: "Sec Cycle" , inline: true %>
      <%= f.radio_button :promotion, 2, label: "Les deux" , inline: true %>

      </div>

      <hr>
      <div class="custom-control custom-radio">
      <br>
      <p>Connaissance Informatique</p>
        <%= f.radio_button :know_it, 0, label: "Debutant", inline: true %>
        <%= f.radio_button :know_it, 1, label: "basic", inline: true %>
        <%= f.radio_button :know_it, 2, label: "Autonome", inline: true %>
      </div>

      <hr>
      <div class="custom-control custom-radio custom-control-inline">
      <p class="font-bold">Genre:</p>
        <%= f.radio_button :gender, 0, label: "Femme", inline: true %>
        <%= f.radio_button :gender, 1, label: "Homme", inline: true %>
      </div>
    </div>


    <div class="form-actions mt-2">
      <%= f.submit "Postulez", class: 'btn btn-primary' %>
    </div>
  <% end %>

</div>
