
<%= bootstrap_form_for([@recrutemet, @recrutemet.job_posts.build], remote: true) do |f| %>

  <div class="form-inputs">
    <%= f.input :nom_complet %>
    <%= f.input :city %>
    <%= f.input :matiere %>
    <%= f.input :promotion %>
    <%= f.input :experience %>
    <%= f.input :nb_classe %>
    <%= f.input :contact_first %>
    <%= f.input :contact_sec %>
    <%= f.input :Know_IT %>
    <%= f.input :school %>
    <%= f.input :gender %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
