
<%= simple_form_for(@job_post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :nom_complet %>
    <%= f.input :city %>
    <%= f.input :matiere %>
    <%= f.input :promotion %>
    <%= f.input :experience %>
    <%= f.input :nb_classe %>
    <%= f.input :contact_first %>
    <%= f.input :contact_sec %>
    <%= f.input :Know_IT %>
    <%= f.input :school %>
    <%= f.input :gender %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
