<h1 class="text-3xl">Les Promotions</h1>

  <div class="col-end-10">
    <%= link_to 'Créer une promotion', new_level_path, class:'btn btn-dark md:justify-end' %>
  </div>


<table class="table col-md-10">
  <thead>
    <tr>
      <th>Promotions</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @levels.each do |level| %>
    <tr>
      <td><%= link_to level.title, level %></td>
      <td>
        <div class="font-bold">
          <%= link_to 'Voir', level, class:'btn btn-dark' %>
          <%= link_to 'Modifier', edit_level_path(level), class:'btn btn-primary' %>
          <%= link_to 'Supprimer', level, class:'btn btn-danger', method: :delete, data: { confirm: "La suppression sera definitive? " } %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>
