<% content_for @title = @course.title %>


<div class="container-sm">
  <div class="row">
    <div class="col-12 col-md-7 col-lg-7">

      <div class="card border-secondary ">
        <!-- title!-->
        <h1 class="text-xl leading-tight font-bold ml-2">
            <%= @course.title %>
        </h1>

         <!-- avatar data/!-->
        <div class="flex items-cente mt-4 ml-6">
          <img class="w-10 h-10 bg-gray-400 rounded-full">
          <div class="text-sm ml-4">
            <!-- Username/!-->
            <p class="text-gray-900 leading-none capitalize font-bold">
             <%= @course.user.username %>
            </p>
            <% if status_user(current_user) %>
              <p class="text-gray-600">
               Prof de <%= @course.matiere.title %> au <%= @course.user.school_name %> - <%= @course.user.city %>
              </p>
            <% else %>
              <p class="text-gray-600">
               <%= @course.user.level_id %> <%= @course.matiere.title %> au <%= @course.user.school_name %> - <%= @course.user.city %>
              </p>
            <% end %>
          </div>
        </div>

        <!--content/!-->
        <div class="m-2">
          <p class="ml-2 mr-2" id="read_more">
            <%=  sanitize(@course.content) %>
          </p>
        </div>

      </div>
        <!-- author of content/!-->
       <% if author_content(current_user) %>
       <% if status_user(current_user) %>
        <div class="border-secondary m-2">
          <%= link_to 'Reponde Aux Questions ', edit_course_path(@course), class: "btn btn-success" %>
          <!--
            |
          <%= link_to Ajouter Groupes, rooms_path %>
            /!-->
        </div>
        <% else %>
          <%= link_to 'Ajouter les reponses', edit_course_path(@course), class: "btn btn-success" %>
        <% end %>
       <% end %>
    </div>
    <!-- Direct Message/!-->
    <div class="col-12 col-md-5 col-lg-5">
    <!-- Message form/!-->
      <div id="DirectMessageDisplay" class="my-2">
        <%= render @course.comments %>
      </div>
      <!-- Direct MEssage form/!-->
      <div id="DirectMessageForm">
        <%= render 'comments/form' %>
      </div>
    </div>

  </div>
</div>

